body {
    font-family: Arial, sans-serif;
    background-color: #efedcf;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}
.container {
    background-color: #d3d2a5;
    padding: 100px;
    border-radius: 20px;
    text-align: center;
    width: 300px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}
h1 {
    font-size: 24px;
    color: #333;
    margin-bottom: 15px;
}

p {
    font-size: 16px;
    color: #555555;
    margin-bottom: 25px;
}
.button-container {
    display: flex;
    justify-content: space-between;
}
#loginButton{
    background-color: #4CAF50;
}
#loginButton {
    padding: 10px 20px;
    border-radius: 50px;
    border: none;
    text-decoration: none;
    color: black;
    text-align: center;
    font-size: 16px;
    width: 100px;
}
#loginButton:hover {
    opacity: 0.7;
}
#registerButton {
    background-color: #ff0000;
}
#registerButton {
    padding: 10px 20px;
    border-radius: 50px;
    border: none;
    text-decoration: none;
    color: black;
    text-align: center;
    font-size: 16px;
    width: 100px;
}
