<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>StudyMate - Home</title>
    <link rel="stylesheet" href="../static/styles/index.css">
</head>
<body>
<div class="container">
    <h1>Welcome to StudyMate</h1>
    <p>
       Welcome to StudyMate, unfortunately the page you tried to access is not available </p>
    <div class="button-container">
        <button onclick="location.href='login.html'" id="loginButton">Login</button>
        <button onclick="location.href='register.html'" id="registerButton">Register</button>
    </div>
</div>
</body>
</html>
