<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>StudyMate - Home</title>
    <link rel="stylesheet" href="../static/styles/index.css">
</head>
<body>
<div class="container">
    <h1>Welcome to StudyMate</h1>
    <p>
       Welcome to StudyMate, the first version of this innovative learning platform. In this initial release,
       we've concentrated on creating a space that supports academic growth,
       making it easier for both teachers and students,StudyMate V1 offers tools to create a productive learning environment
       when teachers can organize their lessons and track progress, while students can access materials and track their own academic achievements. </p>
    <div class="button-container">
        <button onclick="location.href='login.html'" id="loginButton">Login</button>
        <button onclick="location.href='register.html'" id="registerButton">Register</button>
    </div>
</div>
</body>
</html>
