<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/styles/style.css">
    <title>StudyMate Registration</title>
</head>
<body>
<div class="container">
    <h1>Welcome to StudyMate</h1>
    {% if err %}
    <span id="error" style="color:red; margin-bottom:2px">{{err}}</span>
    {% endif %}
    <form id="registrationForm" method="post">
        <input name="first_name" type="text" id="firstName" placeholder="First Name" required>
	<input name="last_name" type="text" id="lastName" placeholder="Last name" >
        <select name="role" id="role" required>
            <option value="" disabled selected>Are you a teacher or a student?</option>
            <option value="teacher">Teacher</option>
            <option value="student">Student</option>
        </select>
        <input name="email" type="email" id="email" placeholder="Email" required>
        <input name="password" type="password" id="password" placeholder="Create password" required>
        <input type="password" id="confirmPassword" placeholder="Confirm your password" required>
        <div class="button-group">
            <button type="submit" id="registerButton">Register</button>
            <button type="button" id="cancelButton">Cancel</button>
        </div>
	<div id='pwdCheck' style='display: none'>
		<p>Password must:</p>
		<ul class='pwdChecker'>
			<li id='len'>be 8 to 16 characters long</li>
			<li id='num'>contain a number</li>
			<li id='case'>contain uppercase letter</li>
			<li id='specialChar'>contain special characters</li>
		</ul>
	</div>
    </form>
</div>
<script src="../static/scripts/register.js"></script>
</body>
</html>
