<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/styles/style.css">
    <title>Teacher Dashboard</title>
</head>
<body>
<div class="container">
    {% if session.get('email') %}
    <p>welcome</p>
    {% endif %}
    <h1>Teacher Dashboard</h1>
    <div class="dashboard">
        <button onclick="location.href='teacher-study-materials.html'" id="uploadMaterials">Upload Study Materials</button>
        <button onclick="location.href='teacher-upload-homeworks.html'" id="uploadhomeworks">Upload Homeworks</button>
        <button onclick="location.href='teacher-submissions.html'" id="viewSubmissions">View Submissions</button>
        <button type="button" id="logoutButton">Logout</button>
    </div>

</div>
<script src="/static/scripts/logout.js"></script>
</body>
</html>
